

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  margin-top: 2%;
  border: rgb(144, 135, 154) solid;
  padding: 5%;
}
.login *{
  padding: 2%;
}

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  margin-top: 2%;
  border: rgb(144, 135, 154) solid;
  padding: 5%;
}
.register *{
  padding: 2%;
}

.defence{
  display: flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-around;
}

.defence{
  padding: 5%;
  margin: 10%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}